@model List<CityVM>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Settings")">Postavke</a>
            <i class="fa fa-chevron-right"></i>
        </li>
        <li>
            <span>Gradovi</span>
        </li>
    </ul>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-popup" data-container="body" data-modaltitle="Dodaj opštinu" data-url="@Url.Action("DodajForma","City")"><i class="fa fa-plus-circle"></i> Dodaj opštinu</button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <table class="table table-striped table-bordered" style="background:white;">
            <thead>
                <tr>
                    <th scope="col">Naziv opštine</th>
                    <th scope="col">Regija</th>
                    <th scope="col">Poštanski broj</th>
                    <th scope="col">Akcija</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CityVM x in Model)
                {
                    @if (x.Description != null)
                    {
                        <tr>
                            <td>  @x.Description </td>
                            <td>  @x.Region </td>
                            <td>  @x.ZipCode </td>
                            <td>
                                <a href="/City/Obrisi?cityID=@x.CityID" class="btn btn-outline-danger">Obriši</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@*<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-url="@Url.Action("DodajForma","City")" style="z-index: 1400;">
</div>*@


@*@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn-popupp").click(function () {
                event.preventDefault();
                var url = $("#exampleModalCenter").data('url');
                jQuery.get(url, function (data) {

                    $("#exampleModalCenter").html(data);
                    $("#exampleModalCenter").modal('show');

                })
            })
        });
    </script>
}*@

<style>
    label {
        margin-bottom: 0px;
    }

    .container-fluid {
        padding: 15px;
        background: white;
        margin-bottom: 25px;
        border: 1px solid #dee2e6;
        border-radius: 10px;
    }

    .btn-popup {
        width: 100%;
    }
</style>
