@model CourseDetaljiVM
@{
    ViewData["Title"] = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DocumentPreviewVM> documents = (List<DocumentPreviewVM>)ViewData["Documents"];
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("MyCourses", "CourseParticipant")">Kursevi</a>
            <i class="fa fa-chevron-right"></i>
        </li>
        <li>
            <span>Detalji</span>
        </li>
    </ul>
</div>

<div class=" courseDetalji">
    <div class="card card-body" style="display:flex; flex-direction: row; justify-content: space-between; align-items: flex-end; padding-bottom: 0rem;">
        <div>
            <label>Naziv kursa</label>
            <p style="margin-bottom: 0.3rem;">@Model.CourseName</p>
            <p style="font-size:0.9rem;">(@Model.CourseSection)</p>

        </div>
        <div>
            <label>Trajanje</label>
            <p> @Model.Start.ToShortDateString() -  @Model.End.ToShortDateString()</p>
        </div>

    </div>

    <div class="card uploadDocument">
        <div class="card-body">
            <label style="margin-bottom:0.5rem;">Dokumenti</label>
            <table class="table table-sm table-hover">

                <tbody>
                    @foreach (var item in documents)
                    {
                        <tr data-toggle="tooltip" data-placement="top" title="Download" onclick="location.href = '@(Url.Action("DownloadFile","Document",new {documentID = item.DocumentID}))'">
                            <td style="text-align: left;">@item.FileName</td>
                            <td> <a href="@(Url.Action("DownloadFile","Document",new {documentID = item.DocumentID}))"><i class="fa fa-download"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
  
        </div>


    </div>

</div>


<style>
    .courseDetalji label {
        font-weight: bold;
        font-size: 0.9rem;
        margin-bottom: 0.04rem;
        letter-spacing: 0.07rem;
    }

    .courseDetalji p {
        font-size: 1rem;
        color: #0c1a5d;
    }

    .uploadDocument input {
        border: 1.5px solid #088ee4;
        border-radius: 5px;
        padding: 5px;
        color: #088ee4;
    }

        .uploadDocument input::-webkit-file-upload-button {
            color: #fff;
            background: #088ee4;
            border-radius: 5px;
            border: none;
            padding: 2px 6px;
            outline: none;
        }

            .uploadDocument input::-webkit-file-upload-button:hover {
                cursor: pointer;
                background: #0856e4;
            }

    .table-hover {
        cursor: pointer;
    }
</style>