<a href="@Url.Action("Home", "Dashboard")" class="@Html.IsActive("Dashboard", "Home")"><i class="icon-home"></i><span>Radna ploča</span></a>
<a href="@Url.Action("Accounts","Account")" class="@Html.IsActive("Account", "Accounts")"><i class="icon-people"></i><span>Korisnički računi</span></a><!--brisanje racuna, dodjeljivanje uloga-->
<a href="@Url.Action("Index","Admin")" class="@Html.IsActive("Admin", "Index")"><i class="fa fa-star"></i><span>Korisničke permisije</span></a><!--dodavanje, editovanje i brisanje korisničkih permisija-->
<a href="@Url.Action("CourseApplications","Course")" class="@Html.IsActive("Course", "CourseApplications")"><i class="icon-layers"></i><span>Prijave</span></a>
<a href="@Url.Action("Prikaz","CourseSection")" class="@Html.IsActive("CourseSection", "Prikaz")"><i class="icon-directions"></i><span>Kursevi</span></a>
<a href="@Url.Action("AdminIndex", "Exam")" class="@Html.IsActive("Exam", "AdminIndex")"><i class="icon-check"></i><span>Testovi</span></a>
<a href="@Url.Action("AdminIndex", "Results")" class="@Html.IsActive("Results", "AdminIndex")"><i class="fa fa-list"></i><span>Rezultati</span></a>

<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="@Url.Action("New","Announcement")" class="dropdown-toggle @Html.IsActive("New", "Announcement") @Html.IsActive("Index", "Announcement") " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <i class="icon-notebook"></i><span>Obavijesti</span> <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a style="color:gray !important" href="@Url.Action("New","Announcement")" class="@Html.IsActive("New", "Announcement")">Nova obavijest</a></li>
            <li><a style="color:gray !important" href="@Url.Action("Index","Announcement")" class="@Html.IsActive("Index", "Announcement")">Upravljanje obavijestima</a></li>
        </ul>
    </li>
</ul>

@*<a href="@Url.Action("Prikaz","City")" class="@Html.IsActive("City", "Prikaz")"><i class="fa fa-cog" aria-hidden="true"></i><span>Postavke</span></a>*@
<a href="@Url.Action("Index","Settings")" class="@Html.IsActive("Settings", "Index")"><i class="fa fa-cog" aria-hidden="true"></i><span>Postavke</span></a>
