<a href="@Url.Action("Home", "Dashboard")" class="@Html.IsActive("Dashboard", "Home")"><i class="icon-home"></i><span>Radna ploča</span></a>
<a href="@Url.Action("MyCourses", "CourseParticipant")" class="@Html.IsActive("CourseParticipant", "MyCourses")"><i class="icon-layers"></i><span>Moji kursevi</span></a>
<a href="@Url.Action("StudentIndex", "Exam")" class="@Html.IsActive("Exam", "StudentIndex")"><i class="icon-check"></i><span>Testovi</span></a>
<a href="@Url.Action("StudentIndex", "Results")" class="@Html.IsActive("Results", "StudentIndex")"><i class="fa fa-list"></i><span>Rezultati</span></a>
<a href="@Url.Action("AnnouncementsForStudents","Announcement")" class="@Html.IsActive("Announcement", "AnnouncementsForStudents")" id="announcement">
    <i class="icon-notebook"></i><span>
        Obavijesti
    </span>
<span class="noti badge" style="font-size:100%;"><i class="fa fa-exclamation-circle" style="color: #d95459; font-size:17px;" aria-hidden="true"></i></span>
</a>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/js/SignalR/dist/browser/signalr.min.js"></script>

    <script>
  
        $("#announcement").click(function (e) {
            $("span.badge").css("display", "none");
        });

        function showNotification() {
            $("span.badge").css("display", "inline-block");
        }

        $(function () {
            var notificationHub = new signalR.HubConnectionBuilder().withUrl("/notificationHub").build();

            notificationHub.start().then(function () {
                console.log("Notification hub started");
            }).catch(function (err) {
                return console.error(err.toString());
            });

            notificationHub.on("ReceiveNotification", function (message) {
                if (message && message.toLowerCase() == "changed") {
                    showNotification();
                }
            });
        });

    </script>
<style>
    .badge{
        display:none;
    }
</style>